*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    height: 100vh;
    width: 100%;
    font-family: 'Arial', sans-serif;
}
li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}
button{
    cursor: pointer;
}


.navbar2 {

    z-index: 1;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    position: fixed;
    animation: slideDown 0.5s ease-in-out;
}

@keyframes slideDown {
    from{transform: translateY(-100%);}
    to{transform: translateY(0);}
}
.logo {
    margin-left: 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    font-variant: small-caps;
    color: #FFFFF0;
}

.links2 {
    display: flex;
    list-style: none;
}

.toggle_btn {
    margin: 1.5rem;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.navbar2 .az {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
    transition: 0.5s;
    background-color: #00000000;
    
}

.links2 li::after {
    content: '';
    display: flex;
    width: 0;
    height: 3px;
    background: #CC5500;
    transition: width 0.3s;
    position: relative;
}
.links2 li:hover::after {
    width: 100%;
}

.links2 li .az::after{
    content: '';
    display: flex;
    width: 0;
    height: 2px;
    background: #CC5500;
    transition: width 0.3s;
    position: relative;
    bottom: -13px;
}
.links2 button{
    font-size: 1rem;
    border-style: none;
    color: #FFFFF0;
    background-color: #333333;
    padding: 17px 15px;
    cursor: pointer;

}
.links2 li .az:hover::after{
    width: 100%;
}
.navbar2 button:hover {
    color: #f0efef;
   background-color: #3d3d3d;


}
  .dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #333333;
    min-width: 240px;
    margin-top: 4px;
    box-shadow: 0px 8px 16px 0px rgba(103, 81, 81, 0.637);
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 14px 13px;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
  }
  
  .dropdown-content a:hover {background-color: #3d3d3d}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
#search {
    font-size: 1.1rem;
    width: 250px;
    padding: 5px 10px;
    border-radius: 13px;
    border-style: none;
    background-color: #f8f8f000;
}

.search_sh {
    background-color: #f6f6e3f1;
    border-radius: 13px;
    color: rgb(0, 0, 0);

}

.fa-magnifying-glass {
    color: rgb(111, 111, 111);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-left: 1px solid;
}

.login_lg {
    color: #FFFFF0;
    margin-right: 1rem;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333333;
    transition: 0.6s;
   
}
.login_lg:hover{
    background-color: #CC5500;
    
}
.login_lg a {
    color: #FFFFF0;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.fa-user {
    margin-right: 5px;
}

/* responsiveness for header */
@media(max-width: 1215px) {

    .navbar,
    .links2,
    .login_lg {
        display: none;
    }
    .navbar2{
        margin-top: -60px;
        position: fixed;
    }
    .toggle_btn {
        display: block;
    }

}

@media(max-width: 600px) {
    .search_sh {
        display: none;
    }

}

#container{
    height: 100vh;
    width: 100%;
    background-image: url("assets/img/image_10.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
.box-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 2;
    z-index: 1;
    height: fit-content;
    color: #fff;

}
.fade-black{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.2;
}
h1{
    font-size: 5rem;
}
h1 span{
    color: #F77D0A;
}
.box-header p{
    font-size: 1.2rem;
}
.box-header .submit-btn{
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: #F77D0A;
    border-radius: 1px solid #000;
    cursor: pointer;
    padding: 10px 24px ;
}
.box-header .submit-btn:hover{
    transform: scale(1.1);
}
.rent-car{
    font-size: 1.5rem;
}
.box-form{
    top: 95vh;
    position: absolute;
    height: 25vh;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7eaf6;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.fields{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.fields .input-box{
    height: fit-content;
    width: 30%;
}
.input-box input{
    margin-top: 10px;
    width: 80%;
    background-color: #F0FFFF;
    border: none;
    border-radius: 2px;
    padding: 10px 5px;
    border-radius: 10px;
}
.input-box .submit-btn{
    margin-top:10px ;
    height: fit-content;
    width: 20%;
}
.submit-btn button{
    width: 100%;
    padding: 16px 36px;
    border-radius: 2px;
    border: none;
    background-color: #F77D0A;
    color: #fff;
    border-radius:16px ;
}
#Selectcar-col{
    margin-top: 10px;
    width: 80%;
    background-color: #F0FFFF;
    border: none;
    border-radius: 2px;
    padding: 10px 5px;
}
#car-cards-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 50px;
    background-color: #f8f8f8;
}

.container2{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #f8f8f8;
}
.container2 h2{
    font-size: 2rem;
    color:#2B2E4A;
}
.container2 h2{
    font-size: 2rem;
    color:#2B2E4A;
}

#container2-header{
    width: 100%;
    text-align: center;
    height: fit-content;
}
#container2-header h1{
    color:#2B2E4A;
    font-size: 3.5rem;
}
.breaker{
    margin-top: 10px;
    height: 2.5px;
    width: 98%;
    background: #b6bacd;
    border-left: 100px solid  #1C1E32;
}
#carcollections-box{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.car-box{
    height: 90%;
    width: 22%;
    background-color: #F4F5F8;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    transition-duration: 1.5s;
}
.car-box:hover{
    transform: translateY(10px);
    background-color: #2B2E4A;
    color: #fff;
}
.car-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inf{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inf-col{
    width: 30%;
    border-right: 1px solid #1C1E32;
    padding: 1px;
}
.car-image{
    height: 60%;
    width: 100%;
}
.car-image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.car-name{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.rent-btn{
    width: 80%;
    height: fit-content;
}
.rent-btn button{
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #F77D0A;
    color: white;
    margin-top: 20px;
}
#container4{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;

}
#container4 .box{
    border-right: 1px solid black;
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box1{
    background-color: #2B2E4A;
}
#box2{
    background-color: #1C1E32;
}
#container4 .box .car-image{
    width: 40%;

}
#container4 .box .details{
    margin: 0px 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#container4 .box .details p{
    text-align: right;
    margin-bottom: 20px;
    color: #999;
}
#container4 .box .details h2{
    margin-bottom: 20px;
    font-size: 32px;
    color: #fff;
}
#container4 .box .details div button{
    padding: 8px 16px ;
    color: #fff;
    background-color: #F77D0A;
    border: none;
    border-radius: 5px;
}

#container5{
    background-color: #f8f8f8;;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container5 h1{
    color: #1C1E32;
    text-align: center;
}
.box3{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    background-color: #e7eaf6;
    height: 80%;
    width: 50%;
    margin-right: 10px;
}
.carimage-2{
    background-color: #1C1E32;
    height: 80%;
    width: 25%;  
}
.contact-form form{
    height: 100%;
    width: 100%;
}
.field-2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-col{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.contact-col1-items{
    width: 40%;
}
.contact-col1-items input{
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #ced4da;
    background-clip: padding-box;
}

.contact-col2-items{
    width: 90%;
}
.contact-col2-items input{
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #ced4da;
    background-clip: padding-box;
}
.contact-col3-items{
    width: 90%;
}
#flow-control{
    display: block;
    width: 100%;
    height: 10rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
}
.contact-col4-btn{
    width: 90%;
}
.contact-col4-btn button{
    padding: 10px 40px;
    color: #fff;
    background-color: #F77D0A;
    border: none;
}

.carimage-2 img{
    height: 100%;
    width: 100%;
}

#container6{
    height: 100vh;
    width: 100%;
    padding: 2% 5%;
    background-color: #f8f8f8;
}
#container6-header{
    margin-bottom: 20px;
}
#container6-header h2{
    font-size: 2.5rem;
}
#container6-header h2 span{
    color: #ce603b;
}
#cartype-contianer{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cartype-box{
    width: 30%;
    height: 60vh;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 2s;
}
.cartype-box:hover{
    transform: scale(1.1);
}
.cartype-box h3{
    font-size: 1.5rem;
    color: #fff;
    margin: 16px 20px;
}
#suv-car{
    background-image: url("assets/img/suv-car.jpg");
}
#sedan-car{
    background-image: url("assets/img/sedan-car.jpg");
}
#luxury-car{
    background-image: url("assets/img/luxury_cars.jpg");
}
.cartype-no{
    width: 80px;
    height: 80px;
    background-color: #f8f8f8;
    border-radius: 50%;
    position: relative;
    top: 240px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartype-no i{
    font-size: 2rem;
}
#container7{
    height: 80vh;
    width: 100%;
    padding: 2% 5%;
    background-color: #f8f8f8;
}
#container7-header h2{
    font-size: 2.5rem;
}
#container7-header h2 span{
    color: #ce603b;
}
#rental-steps-container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.rental-steps-box{
    width: 30%;
    height: 40vh;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 2%;
    /* box-shadow: 0px 0px 12px 0px rgba(0, 0, 0,0.5); */
    background-color: #1C1E32;
}
.rental-steps-box h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}
.rental-steps-box p{
    color: #999;
}
#rental-steps-row{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;;
}
.footer {
    background-color: #333;
    color: white;
    padding: 60px;
    font-size: 14px;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 90px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer h4 {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #007bff;
}

.footer .contact-info p {
    margin: 0;
    margin-bottom: 10px;
    color: #bbb;
}

.footer .contact-info p strong {
    color: #fff;
}

.footer .social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #bbb;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer .social-icons a:hover {
    color: #007bff;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    color: #bbb;
}

