*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100%;
}
#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1C1E32 ;
}

#container{
    width: 70%;
    height: 80%;
    display: flex; 
}
#box1{
    height: 80vh;
    width: 55%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid black;
}
#box1 img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#box2{
    height: 80vh;
    width: 45%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.heading h1{
    color: #1C1E32;
}
.form{
    height: 45vh;
    width: 100%;
    margin-top: 50px;
}
form{
    height: 100%;
    width: 100%;
}
.input-fields{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.items{
    height: 30px;
    width: 70%;
    margin: 8px 0px;
}
.items input{
    height: 100%;
    width: 100%;
    padding: 0px 5px;
}
#nameClass{
    display: flex;
    justify-content: space-between;
}
#nameClass input{
    width: 45%;
}
.signin-btn{
    height: 40px;
    width: 40%;
    margin-top: 10px;
}
.signin-btn button{
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #1C1E32;
    height: 100%;
    width: 100%;
}
#signUp-btn{
    display: flex;
    justify-content: space-between;
}
#signUp-btn p a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#signUp-btn p #signUp-box{
    color: black;
}

.tas-box{
    margin-top: 10px;
    font-size: 0.9rem;
}
#login{
    margin-top: 10px;
    font-size: 0.8rem;
}
#alternate-methods{
    width: 100%;
}
#Alt-row1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
#before-line,#after-line{
    border: 0.01px solid #71797E;
    width: 35%;
    height: 0.01px;
    background-color: red;
}
.text{
    color: #71797E;
    margin: 0px 4px;
}
#Alt-row2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Alt-row2 span{
    margin: 0px 5px;
}